<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>


<form action="http://localhost:8080/historydoc" method="get">

    <label for="number">App number 1-2</label>
    <input type="number" id="number" name="app"/>

    <br/>

    <label for="datestart">Date start</label>
    <input type="date" id="datestart" name="datestart"/>

    <label for="timestart">Time start</label>
    <input type="time" id="timestart" name="timestart"/>

    <br/>

    <label for="dateend">Date end</label>
    <input type="date" id="dateend" name="dateend"/>

    <label for="timeend">Time start</label>
    <input type="time" id="timeend" name="timeend"/>

    <br/>

    <label for="graphic">Graphic (checked - graphic otherwise json)</label>
    <input type="checkbox" id="graphic" name="graphic"/>

    <br/>

    <input type="submit" value="Submit">
</form>

</body>
</html>