<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Aggregator sensors</title>
</head>
<body>

<h2>App 1 - beach water quality sensor</h2>
<h3 th:text="'Amount measurement: ' + ${water_quality_count} + ', Avg value:' + ${water_quality_avg}"></h3>

<h2>App 2 - phone location sensor</h2>
<h3 th:text="'Amount measurement: ' + ${phone_location_count} + ', Avg value latitude:' + ${phone_location_avg_lat} + ', Avg value longitude:' + ${phone_location_avg_long}"></h3>

<h2>App 3 - temperature sensor</h2>
<h3 th:text="'Amount measurement: ' + ${temperature_count} + ', Avg value inside:' + ${temperature_avg_inside} + ', Avg value outside:' + ${temperature_avg_outside}"></h3>

<h2>App 4 - air quality sensor</h2>
<h3 th:text="'Amount measurement: ' + ${air_quality_count} + ', Avg value:' + ${air_quality_avg}"></h3>

<h2>App 5 - humidity sensor</h2>
<h3 th:text="'Amount measurement: ' + ${humidity_count} + ', Avg value:' + ${humidity_avg}"></h3>

</body>
</html>